<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="Logo">
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://github.com/{{ site.github_username }}" target="_blank">
          <span class="icon"><i class="fab fa-github"></i></span>
          <span>GitHub</span>
        </a>
        <a class="navbar-item" href="https://www.linkedin.com/in/matecardoso/" target="_blank">
          <span class="icon"><i class="fab fa-linkedin"></i></span>
          <span>LinkedIn</span>
        </a>
      </div>
    </div>
  </div>
</nav>
