body {
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.hero-body {
  padding: 2rem 1.5rem;
}

.title.is-spaced {
  margin-bottom: 1rem;
}

.buttons.is-centered .button {
  margin: 0.5rem;
}

.language-buttons {
  margin-bottom: 20px;
}

.language-buttons .button img {
  width: 32px;
  height: 32px;
}

.avatar {
  width: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

.button .icon {
  margin-right: 8px;
}
